---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap&text=empr');

$headerTypeface: 'Noto-Sans', sans-serif;
$bodyTypeface: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;

h1 {
	font-family: 'Playfair Display', serif;
	font-kerning: auto;
	font-weight: 400;
	font-variant-ligatures: contextual;
}

@for $i from 2 through 6 {
  h#{$i} {
	// font-size: $base-font-size + $heading-scale * (6 - $i);
	font-family: $headerTypeface;
	font-kerning: auto;
	font-variant-ligatures: contextual;
  }
}

body {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
	font-kerning: auto;
	font-variant-ligatures: contextual;
}